/* ================================= */
/* HEADER */
/* ================================= */

.divHeader {
    align-content: center;
    padding: 1rem;
}

/* ICONS */

.imgHeaderIcons {
    width: 30px;
    height: 30px;
    filter: invert();
}

/* ========================== */
/* MAIN */
/* ========================== */

.divMainBanners {
    text-align: center;
    height: auto;
}

.imgMainBanners {
    max-width: 100%;
}

@keyframes changeMainBanner {
    
}
