/* ================================= */
/* HEADER */
/* ================================= */

.divHeader {
    align-content: center;
    padding: 1rem;
}

/* ICONS */

.imgHeaderIcons {
    width: 30px;
    height: 30px;
    filter: invert();
}

/* ========================== */
/* MAIN */
/* ========================== */

.divMainBanners {
    text-align: center;
    height: auto;
    margin-bottom: 1rem;
}

.imgMainBanners {
    max-width: 100%;
    
    animation: changeMainBanner 10s infinite;
}

.divMainFunctions {
    @media (min-width: 500px) and (max-width: 799px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .6rem;
    }
    @media (min-width: 800px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.divMainFunctionsBlock {
    padding: 1.2rem;
    margin: .6rem;

    @media (max-width: 499px) {
        border-bottom: 1px solid var(--cor-terciaria);
    }
}

.divMainNotices {
    justify-items: center;
}

.divOneNotice {
    width: calc(50%);
    display: inline-block;
    border: 1px solid var(--cor-terciaria)
}

.divOneNoticeHeader {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    span {
        padding: .4rem;
    }
}

@keyframes changeMainBanner {
    0% {
        transform: scale(.5);
    }
    30% {
        transform: scale(1);
    }
}
