:root {
    background-color: black;
    color: white;
    font-family: "Oswald";
    text-align: center;
  }
  
  header {
    background-color: white;
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 2px;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 17px;
  }
  
  footer {
    background-color: white;
    color: black;
    font-size: 15px;
  }
  
  .title {
    list-style: none;
    justify-content: space-between;
    display: flex;
  }
  
  li {
    display: inline-block;
    flex: 1;
    text-align: center;
  }
  
  .maincontent {
    text-align: center;
    padding: 15px;
    margin-left: 2%
  }

  .maincontent {
    text-align: center;
    padding: 15px;
    margin-left: 2%
  }
  
  feedback {
    background-color: black;
    color: white;
    font-family: "Oswald";
  }
  
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }