a {
    color: var(--cor-a);
}

input[type='text'] {
    padding: .4rem;
    border-radius: .4rem;
    color: var(--cor-primaria);
}

button {
    padding: .6rem;
    margin: 1rem;
    font-size: 1rem;
    border-radius: .4rem;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

img {
    filter: none;
}

ul {
    list-style-type: none;
}

li {
    padding: .6rem;
}

select {
    font: var(--font-primaria);
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-terciaria);
    padding: .4rem;
    border-radius: .4rem;
}