/* HEADER */

#divHeaderLeft {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
        text-align: left;
        flex-direction: column;
    }
    @media (min-width: 800px) {
        justify-content: space-between;
    }

}

#divHeaderCenter {
    text-align: center;

    img {
        width: 300px;
        height: auto;
    }
}

#divHeaderRight {
    @media (max-width: 799px) {
        text-align: center;
    }

    @media (min-width: 800px) {
        text-align: right;
    }
}

#imgOneNotice {
    filter: invert();
    display: flex;
    margin: 50px auto;
}

#imgMainBanner {
    width: 100%;
    height: auto;
}

#imgMainLogo {
    max-width: 100%;
}

#ulHeaderLeftMenu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#divHeaderLeftSideR {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: .4rem;
    margin: .4rem;
    max-width: 100%;
    width: fit-content;

    @media (prefers-color-scheme: dark) {
        background-color: var(--cor-secundaria);
    }

    @media (prefers-color-scheme: light) {
        background-color: var(--cor-primaria);
    }
}

#divConfiguracoes {
    padding: .6rem;

    @media (max-width: 550px) {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 551px) and (max-width: 924px) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    @media (min-width: 925px) {
        display: flex;
        justify-content: space-between;
    }
}

#inputConvertResult {
    text-align: center;
}