/* HEADER */

#divHeaderLeft {
    display: flex;
    align-items: center;
    @media (max-width: 799px) {
        text-align: center;
    }

    @media (min-width: 800px) {
        text-align: left;
    }
}

#divHeaderCenter {
    text-align: center;

    img {
        width: 300px;
        height: auto;
    }
}

#divHeaderRight {
    @media (max-width: 799px) {
        text-align: center;
    }

    @media (min-width: 800px) {
        text-align: right;
    }
}

#imgOneNotice {
    filter: invert();
    display: flex;
    margin: 50px auto;
}

#imgMainBanner {
    width: 100%;
    height: auto;
}

#imgMainLogo {
    max-width: 100%;
}

#ulHeaderLeftMenu {
    display: flex;
}

#divHeaderLeftSideR {
    display: none;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-radius: .4rem;
    margin: .4rem;
    width: 100%;

    @media (prefers-color-scheme: dark) {
        background-color: var(--cor-secundaria);
    }

    @media (prefers-color-scheme: light) {
        background-color: var(--cor-primaria);
    }
}